/********************************
           BASE STYLES
********************************/

p {
    padding: 10px;
}

.container {
    padding: 0 0;
}

.morphext > .animated {
    display: inline-block;
}

/********************************
           SECTION ONE
********************************/

.paraHeader {
    margin: 75px auto;
    text-align: center;
    padding: 15px 15px;
    width: 300px;
}

.secondHeader {
    padding: 35px;
}




#cameraRoll {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) 0% 0% / cover, url('../img/camera-roll.jpeg') center center fixed;
    padding: 80px 0px;
    margin-top: -29px;
    width: 100%;
}



/********************************
           SECTION TWO
********************************/

#sectionTwo {
    padding: 10px 20px;
    margin-top: -15px;
    background: #f7f7f7;
}

.cameraFixTwo,
.cameraFix {
    padding-top: 100px;
    padding-bottom: 100px;
}

i.cameraSize {
   font-size: 175px;
   text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
   
}

/********************************
           SECTION THREE
********************************/

#cameraReel {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) 0% 0% / cover, url('../img/bannerThree.jpg') center center fixed;
    padding: 80px 0px;
    width: 100%;
}



/********************************
            BUTTONS
********************************/

.btn-default {
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 1s;
    transition: all 0.5s;
}

.btn-default:hover {
    color: black;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,.6);
    border-radius: 50%;
}

.btn-default:visited {
    border-radius: 10px;
    background-color: white;
}

.btn:focus {
  outline: none;
}


/********************************
           JUMBOTRON
********************************/

#hero {
    display: table;
    width: 100%;
    height: 70vh;
    background: url(../img/bannerOne.jpeg) top center fixed;
    background-size: cover;
}   

.morphOverlay {
    margin-top: 100px;
}

.morphOverlay h3 {
    color: #FF8247;
    font-size: 2.5em;
    }

.morphOverlay span {
    color: #FF8247;
}

.logo {
    color: white;
    margin-top: 55px;
    
}

.logo h1 {
    font-size: 2.5em;
    background-color: rgba(0,0,0,.5);
    width: 375px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
}

/********************************
           NAVIGATION
********************************/

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    }

.navbar-form input, .form-inline input {
	width: auto;
}

.nav>li>a {
    padding-left: 25px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: antiquewhite;
}

.navbar-custom {
 margin-bottom: 0;
 text-transform: uppercase;
 font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 

.navbar-toggle {
    margin-right: 20px;
}

.navbar-default {
  background-color:rgba(0,0,0,0.8);
  border: none;
   }



/********************************
          MEDIA QUERIES
********************************/

@media (min-width: 320px){
    
}

@media (min-width: 400px) {
   
    
}

@media (min-width: 768px){
    
    .morphOverlay {
    margin-top: 100px;
    }
    
    .morphOverlay h3 {
    font-size: 5em;
    }

    .logo {
        margin-top: 55px;
    
    }   

    .logo h1 {
    font-size: 4em;
    width: 700px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    }
    
    .navbar .navbar-nav {
    display: inline-block;
    float: none;
    }

    .navbar .navbar-collapse {
    text-align: center;
    }
    .nav>li>a {
        padding: 14px 45px; 
       
    }
    .navbar {
        height: 15px;
    }
    
    #cameraReel,
    #cameraRoll {
        padding: 130px 0;
    }
    #hero {
        height: 100vh;
        }

}

@media (min-width: 992px) {
   
    

@media (min-width: 1200px) {
    .page-scroll {
    margin-top: 150px;
    }
    #hero {
        height: 100vh;
        }
    
    .morphOverlay {
      margin-top: 50px;
}
    .logo h1 {
        font-size: 5em;
        width: 900px;
    }
    
   
    
    
}
    
/********************************
             TEST
********************************/    
    
   
    
    
    
    
    
